.text-info-block {
    background: #dff3fc;
    padding-top: 90px;
    padding-bottom: 96px;

    @media (max-width: $md3+px) {
        padding-top: 50px;
        padding-bottom: 89px;
    }

    &.text-info-block_multiple {
        @media (max-width: $md3+px) {
            padding-top: 36px;
            padding-bottom: 62px;
        }

        & .text-info-block__body {
            &:not(:last-child) {
                margin-bottom: 71px;
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;

                @media (max-width: $md3+px) {
                    flex-direction: column-reverse;
                }

                @media (min-width: 768px) {
                    & .text-info-block__text-wrap {
                        padding-right: 30px;
                    }
                }
            }

            &:nth-child(even) {
                @media (min-width: 768px) {
                    & .text-info-block__text-wrap {
                        padding-left: 30px;
                    }
                }
            }

            & .text-info-block__img {
                margin-right: 0;
                @media (min-width: 768px) {
                    min-height: 560px;
                    flex: 0 0 48.14%;
                }
            }

            & .text-info-block__text-wrap {
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                & h3 {
                    font-size: 32px;
                    line-height: 120%;
                    text-transform: uppercase;
                    @media (max-width: $md3+px) {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            flex-direction: column-reverse;
        }
    }

    &__img {
        @media (min-width: 768px) {
            flex: 0 0 48.66%;
            margin-right: 30px;
        }
        @media (max-width: $md3+px) {
            height: 0;
            padding-bottom: 85.47%;
        }
    }

    &__text-wrap {
        @media (min-width: 768px) {
            padding-top: 10px;
            padding-bottom: 10px;
            max-width: 529px;
            flex: 1 1 auto;
        }
        @media (max-width: $md3+px) {
            margin-bottom: 36px;
        }

        & p {
            @media (min-width: 768px) {
                max-width: 525px;
            }

            @media (max-width: $md3+px) {
                padding-right: 13px;
            }
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
