@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&._lock {
		overflow: hidden;
	}

	&.is-load {
		& ._preload-body {
			opacity: 0;
			visibility: hidden;

			&:before {
				display: none;
			}
		}
	}
}

._preload-body {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: all 0.6s ease 0.2s;

	&:before {
		position: absolute;
		content: "";
		z-index: 999;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 4px solid #6e6e6e;
		border-right: 4px solid #fff;
		transform: translate(-50%, -50%);
		animation: preloadBody 2s linear infinite;
	}
}

@keyframes preloadBody {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	padding: 1px 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1355px;
	margin: 0 auto;
	padding: 0 20px;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.social {
	display: flex;
	flex-wrap: wrap;

	&.social_white {
		& > li > a {
			@media (min-width: 992px) {
				&:hover {
					& svg path {
						fill: $mainColor;
					}
				}
			}
		}
	}

	&.social_blue {
		& > li > a {
			& svg path {
				fill: $mainColor;
			}
			@media (min-width: 992px) {
				&:hover {
					& svg path {
						fill: $mainColor2;
					}
				}
			}
		}
	}

	& > li {
		margin: 10px 0;

		&:not(:last-child) {
			margin-right: 9px;
		}

		& > a {
			display: block;
			height: 24px;
			width: auto;

			& img,
			& svg {
				height: 100%;
				width: auto;
				display: block;
			}

			& svg {
				& path {
					fill: #fff;
					transition: all 0.3s ease;
				}
			}
		}
	}
}

// === title ========================================================================
.title-1 {
	font-size: 100px;
	line-height: 80%;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	@media (max-width: $md2+px) {
		font-size: 80px;
	}

	@media (max-width: $md3+px) {
		font-size: 52px;
		line-height: 100%;
	}
}
.title-2 {
	font-style: normal;
	font-weight: 300;
	font-size: 80px;
	line-height: 96%;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;

	&:not(.horizontal) {
		display: flex;
		flex-direction: column;
	}

	& strong {
		font-weight: 700;
	}

	@media (max-width: $md3+px) {
		font-size: 48px;
	}
}

.title-3 {
	font-weight: bold;
	font-size: 30px;
	line-height: 140%;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 24px;
		line-height: 143%;
	}
}

.title-4 {
}

.title-5 {
}
.title-6 {
}

.title-line {
	padding: 100px 0 50px;
	text-align: center;
	position: relative;
	margin-bottom: 71px;

	@media (min-width: 992px) {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: $md3+px) {
		padding: 43px 0 42px;
		margin-bottom: 40px;
	}

	& strong {
		&:first-child {
			color: $mainColor;
		}
	}

	&:before {
		position: absolute;
		content: "";
		left: 50%;
		bottom: 0px;
		width: 100%;
		max-width: 864px;
		height: 2px;
		background-color: $mainColor2;
		transform: translateX(-50%);
	}
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.circle-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 224px;
	width: 224px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	background-color: $mainColor;
	padding: 15px;
	font-size: 22px;
	line-height: 110%;
	text-align: center;
	color: #ffffff;
	border-radius: 50%;

	@media (max-width: $md3+px) {
		height: 180px;
		width: 180px;
		font-size: 20px;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: transparent;
			border-color: #fff;
		}
	}

	&:active {
		background-color: $mainColor !important;
	}
}

.btn-default {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 213px;
	min-height: 54px;
	background: $mainColor;
	border-radius: 14px;
	padding: 10px 43px;
	font-size: 16px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: $linkColor;
	font-weight: 700;
	transition: all .3s ease;

	@media (min-width: 992px) {
		&:hover {
			background-color: $mainColor2;
			color: #fff;
		}
	}

	&:active {
		background: $mainColor !important;
	}
}

button.btn-default {
}
.slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 69px;
	min-width: 69px;
	width: 69px;
	border-radius: 50%;
	background-color: $mainColor2;
	cursor: pointer;

	&.swiper-button-disabled {
		& > span {
			opacity: 0.4;
		}
	}

	& span {
		width: 35px;
		transition: all 0.3s ease;
		& img {
			width: 100%;
			height: auto;
		}
	}
}
.slider-btn_prev {
	& > span {
		transform: rotate(180deg);
	}
}
// === and btn ========================================================================

.input {
	display: flex;
	min-height: 52px;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid $mainColor2;
	padding: 0 4px;
	font-weight: bold;
	font-size: 16px;
	line-height: 152.69%;
	letter-spacing: 0.045em;
	color: $mainColor2;
	background-color: transparent;

	&::placeholder {
		color: $mainColor2;
		font-weight: bold;
		font-size: 16px;
		line-height: 152.69%;
		letter-spacing: 0.045em;
		text-transform: uppercase;
	}
}

.textarea {
}

.link {
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-weight: normal;
	font-size: 25px;
	line-height: 120%;
	//letter-spacing: 0.02em;
	letter-spacing: 0.017em;
	color: $gray;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}

	& h1 {
	}
	& h2 {
		font-style: normal;
		font-weight: 300;
		font-size: 80px;
		line-height: 96%;
		text-transform: uppercase;
		margin-bottom: 0.2875em;
		& strong {
			font-weight: 700;
		}

		@media (max-width: $md3+px) {
			font-size: 48px;
			margin-bottom: 0.5em;
		}
	}
	& h3 {
		font-weight: bold;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $mainColor2;
		margin-bottom: 0.88em;

		@media (max-width: $md3+px) {
			font-size: 25px;
		}
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.2em;

		&.uppercase {
			text-transform: uppercase;
			color:#4F4F4F;
			margin-bottom: 1.29em;
		}

		& + h3 {
			margin-top: 3.45em;

			@media (max-width: $md3+px) {
				margin-top: 3.1em;
			}
		}

	}

	& ul {
		margin-bottom: 20px;
		margin-bottom: 1.2em;

		& + h3 {
			margin-top: 3.45em;

			@media (max-width: $md3+px) {
				margin-top: 3.1em;
			}
		}
	}

	& ol {
		margin-bottom: 1.2em;
		list-style: none;

		& > li {
			list-style: none;
		}

		& + h3 {
			margin-top: 3.45em;

			@media (max-width: $md3+px) {
				margin-top: 3.1em;
			}
		}
	}

	& figure {
		margin-bottom: 20px;

		& img {
			width: 100%;
			height: auto;
		}
	}

	& a {
		color: $linkColor;
		transition: all .3s ease;

		@media (min-width: 992px) {
			&:hover {
				color: $mainColor2;
			}
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/checkbox/checkbox";
@import "../common/ports/ports";
@import "../common/news-card/news-card";
@import "../common/hero/hero";
@import "../common/head/head";
@import "../common/text-info-block/text-info-block";
@import "../common/map-block/map-block";
@import "../common/cookie-message/cookie-message";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

@import "pages/#home";
@import "pages/#about";
@import "pages/#news";
@import "pages/#news-detail";
@import "pages/#contact";
@import "pages/#gallery";
@import "pages/#single-port";
@import "pages/#terms";
@import "pages/#page404";

// ==== AND PAGES =====================================================
