.news-card {
    display: flex;
    flex-direction: column;
    color: inherit;

    @media (min-width: 992px) {
        &:hover {
            & .news-card__img img {
                transform: scale(1.1);
            }

            & .news-card__title {
                color: $mainColor2;
            }
        }
    }

    &__img {
        height: 0;
        padding-bottom: 55.93%;
        overflow: hidden;
        margin-bottom: 23px;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }

        & img {
            transition: all 1s ease;
        }
    }

    &__date {
        font-size: 20px;
        line-height: 160%;
        text-transform: uppercase;
        color: $linkColor;
        margin-bottom: 4px;

        @media (max-width: $md3+px) {
            font-size: 16px;
            margin-bottom: 6px;
        }
    }

    &__title {
        font-size: 32px;
        line-height: 120%;
        transition: all .3s ease;
        max-width: 545px;

        @media (max-width: $md3+px) {
            font-size: 28px;
        }
    }
}
